.banner {
    max-width: 100%;
    overflow: hidden
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    margin-left: 120px;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: #000;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.home {
    margin-left: 400px;
}


.container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}


.container img {
    width: 100%;
    height: auto;
    display: block;
}


.container .top-text {
    position: absolute;
    top: 120px;
    left: 28%;
    transform: translateX(-20%);
    color: white;
    text-align: center;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0;
}


.container .bottom-text {
    position: absolute;
    bottom: 422px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-family: 'Imprima', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
}


.container .button {
    position: absolute;
    bottom: 350px;
    transform: translateX(-50%);
    background-color: #4265DF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: 'Imprima', sans-serif;
    width: 165px;
    height: 50px;
    left: 50%;
    font-size: 15px;

}


.card-container {
    text-align: center;
    background-color: #D9D9D9;
}

.title {
    padding-top: 100px;
    margin-bottom: 5px;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0;
    text-align: center;
    color: #221717;
}

.title_two {
    font-family: 'Imprima', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    color: #766D6D;
    margin-bottom: 100px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    width: 360px;
    height: 259px;
    margin: 10px 20px 30px 50px;
    text-align: center;
    background-color: white;
}

.card-title {
    font-family: 'JejuGothic', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    color: #221717;
}

.card-description {
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
    color: #766D6D;
    width: 248px;
    margin-left: 72px;
}

/*.card-text p {*/
/*    margin: 0;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/


.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
    top: 276px;
    left: 707px;
}

.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(6) {
    top: 545px;
    left: 707px;
}


.circle-background {
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.card-image {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    align-items: center;
}

.card-container .button_one, .card-container .button_two {
    width: 165px;
    height: 50px;
    top: 913px;
    left: 254px;
    margin-right: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card-container .button_one {
    background-color: #4265DF;
    color: white;
    border: none;
}

.card-container .button_two {
    background-color: none;
    border: 2px solid #4265DF;
    color: #4265DF;
}


/* Styles for the top text */
.second_banner .top-text {
    position: absolute;
    top: 2050px;
    left: 40%;
    transform: translateX(-20%);
    color: white;
    text-align: center;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0;
}

.second_banner {
    max-width: 100%;
    overflow: hidden
}

.second_banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.second_banner .bottom-text {
    position: absolute;
    bottom: -1420px;
    left: 55%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-family: 'Imprima', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
}

.input_one {
    position: absolute;
    bottom: -1497px;
    left: 25%;
    background-color: white;
    color: #766D6D;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 260px;
    height: 50px;
    font-family: 'Imprima', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    padding-left: 40px;
}

.input_two {
    position: absolute;
    bottom: -1497px;
    left: 47%;
    background-color: white;
    color: #766D6D;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 260px;
    height: 50px;
    font-family: 'Imprima', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    padding-left: 40px;
}

.second_banner .button {
    position: absolute;
    bottom: -1495px;
    left: 73%;
    transform: translateX(-50%);
    background-color: #4265DF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 131px;

}


.container_two {
    padding: 20px;
    background-color: #ccc;
}

.row {
    display: flex;
    justify-content: center;
}

.blue-card {
    background-color: #4265DF;
    padding: 5px 20px;
    width: 289px;
    height: 360px;
    margin: 20px 40px;
}

.row .card-image img {
    max-width: 100%;
}

.blue-card .card-text {
    color: #ffffff;
    margin-top: 10px;
}

.blue-card .card-text .title-card {
    font-family: 'JejuGothic', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
}

.blue-card .card-text .desc {
    font-family: 'Imprima', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
    margin-top: -15px;

}


.container_two .title {
    margin-bottom: 10px;
    width: 80%;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0;
    text-align: left;
    color: #221717;
    margin-left: 160px;
}

.container_two .title_two {
    width: 100%;
    font-family: 'Imprima', sans-serif;
    color: #766D6D;
    margin-left: -340px;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 80px;
}

.circles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 10px 100px 10px;
}

.circle.active {
    background-color: #4265DF;
}


.text-image {
    display: flex;
    align-items: center;
}

.text_only {
    flex: 1;
    padding: 20px;
    width: 100%;
    font-family: 'Imprima', sans-serif;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 65px;
}

.image_only {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: -15px;
}

.only_title {
    width: 100%;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0;
    text-align: left;
    color: #221717;
    margin-left: 50px;
}

.only_desc {
    width: 100%;
    font-family: 'Imprima', sans-serif;
    color: #766D6D;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    margin-top: -50px;
    margin-left: -70px;
}

.only_desc_next {
    width: 71%;
    font-family: 'Imprima', sans-serif;
    color: #766D6D;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    margin-bottom: 80px;
    margin-left: 50px;
    text-align: left;
}

.list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-item {
    flex: 1;
    margin-left: 46px;
}

.list-item p {
    width: 70%;
    font-family: 'Imprima', sans-serif;
    color: #766D6D;
    font-size: 30px;
    font-weight: 400;
    margin-left: 40px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: left;
}

.list-header {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.list-header img {
    width: 5%;
    margin-right: 10px;
}

.list-header p {
    font-family: 'Imprima', sans-serif;
    color: #221717;
    font-size: 32px;
    font-weight: 400;
    margin-left: 2px;
    line-height: 37px;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
}


.container_three {
    position: relative;
    background-color: #0B1125;
    overflow: hidden;
    height: 400px;
}

.dot-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 50%;
    pointer-events: none;
    z-index: 1;
}


.subscribe-text {
    color: white;
    margin-bottom: 10px;
    font-family: 'JejuGothic', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    bottom: 259px;
    left: 230px;
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 259px;
    left: 230px;
}

.custom-input {
    position: absolute;
    left: 107%;
    background-color: white;
    color: #766D6D;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 260px;
    height: 50px;
    font-family: 'Imprima', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    padding-left: 40px;
    margin-left: 260px;
    margin-top: 80px;
}

.custom-button {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 73%;
    transform: translateX(-50%);
    background-color: #4265DF;
    text-align: center;
    height: 50px;
    width: 131px;
    padding-left: 5px;
    margin-left: 658px;
    margin-top: 80px;
}

.footer {
    background-color: #182143;
    color: white;
    padding: 20px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    text-align: left;
    margin: 0 10px;
}

.footer-column:nth-child(2) {
    text-align: left;
    margin-left: 180px;
}

.footer img {
    max-width: 100%;
    height: auto;
    margin-left: 140px;
}

.footer h3 {
    font-size: 18px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-left: -141px;
}

.contact-list img {
    margin-right: 10px;
    max-width: 20px;
    height: auto;
}

.footer-column p {
    font-size: 30px;
    margin-left: 140px;
    width: 334px;
}

.footer-rest .line {
    margin-left: 155px;
    margin-top: 40px;
    width: 80%;
}

.footer-rest .social-media {
    margin-left: 600px;
}
